/*****font-family: 'Nothing You Could Do', cursive;
font-family: 'Playfair Display', serif; *****/

/***** BASE STYLES *****/
div  {
font-family: 'Nothing You Could Do', cursive;
}

/***** GRID INFO *****/
.full-width {
width: 1200px;
margin: 0 auto;
}

.half-width {
width: 600px;
float: left;
}

.third-width  {
width: 400px;
float: left;
}

/***** HEADER *****/
header h1 {
  font-family: 'Nothing You Could Do', cursive;
  font-size: 160px;
  color: #141d63;
  text-align: right;
  line-height: 40px;
  margin-right: 110px;
  margin-top: 100px;
}

header p {nothing
  font-family: 'Nothing You Could Do', cursive;
  font-size: 45px;
  color: #141d63;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 20px;
}

header p2 {
  font-family: 'Nothing You Could Do', cursive;
  font-size: 25px;
  color: #141d63;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #000000;
  background-color: white;
  padding: 5px 15px 5px 10px;
  text-decoration: none;
}

header p3 {
  font-family: 'Nothing You Could Do', cursive;
  font-size: 25px;
  color: #141d63;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #000000;
  background-color: white;
  padding: 5px 15px 5px 10px;
  margin-left: 40px;
  text-decoration: none;
}

header img {
  float: right;
  margin-top: -120px;
  margin-right: 50px;
}

/***** MAIN *****/
main p {
  font-family: 'Playfair Display', serif;
  text-align: center;
  font-size: 25px;
  margin-left: 170px;
  margin-top: -50px;
  float: left;
  width: 1000px;
  padding-left: 15px;
  padding-right: 15px;
  color: #000000;
  background: rgba(00, 118, 163, 0.3);
  border: 1px solid black;
}
main iframe {
  border: 1px solid #000000;
  margin-left: 75px;
}

/***** FOOTER *****/
footer p {
  font-family: 'Playfair Display', serif;
  text-align: center;
  font-size: 25px;
  border: 1px solid #000000;
  color: #A3C2D4;
  background-color: #0076A3;
  padding: 5px 0px 5px 0px;
}
